<h1>Edit Details of: <%=@std.first_name %> <%=@std.last_name %></h1>
<%= link_to "Home", root_path %> |
<%= link_to "Create new", new_student_path  %> |
<%= link_to "List of Students", students_path %> |
<%= link_to "Back", student_path %> |

<%= form_with model: @std do |form| %>

  <%if @std.errors.any? %>
    <% @std.errors.full_messages.each do |message| %>
      <p> <%= message %></p>
    <% end %>
  <% end %>



  <div>
    <%=form.label :first_name %><br>
    <%=form.text_field :first_name %>
  </div>

  <div>
    <%=form.label :last_name %><br>
    <%=form.text_field :last_name %>
  </div>

  <div>
    <%=form.label :email %><br>
    <%=form.text_field :email %>
  </div>

  <div>
    <%=form.label :mobile_number %><br>
    <%=form.text_field :mobile_number %>
  </div>

  <div>
    <%=form.label :city_name %><br>
    <%=form.text_field :city_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>


<% end %>