<h1>Students List</h1>
<p>The below table have all details of the students</p>

<table>
  <thead>
  <tr>
    <th>ID No</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email ID</th>
    <th>Mobile Number</th>
    <th>City</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.first_name %></td>
    <td><%= s.last_name %></td>
    <td><%= s.email %></td>
    <td><%= s.mobile_number %></td>
    <td><%= s.city_name %></td>
    <td><%= link_to "View", s %></td>
  </tr>
  <% end %>
  </tbody>
</table>
